@using SignalRWebUI.DTOs.NotificationDTOs
@model List<ResultNotificationDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Kategori Listesi</h4>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Bildirim</th>
                            <th>Icon</th>
                            <th>Tarih</th>
                            <th>Durum</th>
                            <th>Okundu</th>
                            <th>Okunmadı</th>
                            <th>Güncelle</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@item.Description</td>
                                <td><i class="@item.Icon"></i></td>
                                <td>@item.Date</td>
                                <td>@item.Status</td>
                                <td><a href="/Notification/MarkAsRead/@item.Id" class="btn btn-primary"><i class="mdi mdi-read"></i></a></td>
                                <td><a href="/Notification/MarkAsUnread/@item.Id" class="btn btn-warning"><i class="mdi mdi-backspace"></i></a></td>
                                <td><a href="/Notification/UpdateNotification/@item.Id" class="btn btn-success"><i class="mdi mdi-refresh"></i></a></td>
                                <td><a href="/Notification/DeleteNotification/@item.Id" class="badge badge-danger"><i class="mdi mdi-delete"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="/Notification/CreateNotification" class="badge badge-info">Ekle</a>
            </div>
        </div>
    </div>
</div>

