@model List<SignalRWebUI.DTOs.FeatureDTOs.ResultFeatureDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Öne Çıkanlar Listesi</h4>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Başlık 1</th>
                            <th>Açıklama 1</th>
                            <th>Başlık 2</th>
                            <th>Açıklama 2</th>
                            <th>Başlık 3</th>
                            <th>Açıklama 3</th>
                            <th>Güncelle</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Title1</td>
                                <td>@item.Description1</td>
                                <td>@item.Title2</td>
                                <td>@item.Description2</td>
                                <td>@item.Title2</td>
                                <td>@item.Description2</td>
                                <td><a href="/Feature/Update/@item.Id" class="btn btn-success"><i class="mdi mdi-refresh"></i></a></td>
                                <td><a href="/Feature/Delete/@item.Id" class="badge badge-danger"><i class="mdi mdi-delete"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="/Feature/Create" class="badge badge-info">Ekle</a>
            </div>
        </div>
    </div>
</div>

