@using SignalRWebUI.DTOs.ContactDTOs
@model GetContactDTO
<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        Bizimle İletişime Geç
                    </h4>
                    <div class="contact_link_box">
                        <a href="">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                @Model.Location
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                @Model.Phone
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                                @Model.Email
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    <a href="" class="footer-logo">
                        DIOVOR
                    </a>
                    <p>
                        @Model.FooterDescription
                    </p>
                    <div class="footer_social">
                        @if (ViewBag.Social != null)
                        {
                            foreach (var item in ViewBag.Social)
                            {
                                <a href="@item.Url">
                                    <i class="fa fa-@item.Icon" aria-hidden="true"></i>
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <h4>
                    @Model.OpenInfoTitle
                </h4>
                <p>
                    @Model.OpenDaysInfo
                </p>
                <p>
                    @Model.OpenHoursInfo
                </p>
            </div>
        </div>
    </div>
</footer>